body {
    margin: 0;
    background-color: #292c35;
 
}
header {
    text-align: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 50px;
    background-color: #1d1d1f;
    color: #f5f5f7;
}
.navigationbar {
    background-color: rgba(0, 0, 0, 0.9);
    color: #f5f5f7;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 60px;
    position: relative;
    top: 0;
}
a {
    text-decoration: none;
}
.nav-title a {
    color: #f5f5f7;
}
.nav-subtitle {
    margin-left: 30px;
    font-size: 30px;
    font-weight: bolder;
}
.nav-content {
    position: absolute;
    height: 50%;
    top: 10px;
}
.nav-title {
    float: left;
    letter-spacing: 0.05em;
    display: flex;
}
.image-buffet {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 100px;
    animation: fadein 2s;
}

.text-buffet {
    animation: fadein 4s;
}
/* 애니메이션 이름 {실행} */
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.text-buffet-title {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
}
.st {
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 0.011em;
    line-height: 1.381;

}
.content-buffet {
    color: #c6e1e6;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
}
.content-buffet h2 {
    text-align: center;
}

/* footer */
.footer-mini {
    border-top: 1px solid #d2d2d7;
    padding-top: 30px;
    padding-left: 50px;
    color: #c6e1e6;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;

}
.copyright {
    font-weight: bolder;
    font-size: 18px;
}
.footer-mail {
    appearance: none;
    color: #c6e1e6;
}